html {
    scroll-behavior: smooth;
}
* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    height: 435vh;
    background-color: black;
}
.home, .about, .academics, .pnc, .contact {
    margin: 0 10vw 0;
}
/* HOME PAGE */
.home {
    background-color: black;
    min-height: 100vh;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.homeBgPic {
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 1;
    height: 80%;
}
.navcontainer {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    min-height: 15vh;
    height: 15vh;
    /* border: 2px solid white; */
}
.logo_pic {
    height: 2.5rem;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li {
    list-style-type: none;
    margin-right: 2rem;
}
.navitem {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
.navitem::after {
    content:"";
    width: 0;
    height: 0.3rem;
    background-color: #4267B2;
    margin: auto;
    display: block;  
    margin-top: 10px;
}
.navitem:hover:after {
    width: 100%;
    transition: width 0.3s linear;
}
.logo {
    color: white;
}
.greeting {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;
    /* border: 2px solid white; */
}
#greetings {
    align-self: flex-start;
}
.name {
    line-height: 1rem;
}
#greettext {
    color: white;
    font-size: 3rem;
}
#greetjob {
    font-size: 2rem;
    color: gray;
}
#greetname {
    font-size: 5rem;
    color: white;
}
#greetname span {
    color: #4267B2;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.btn {
    max-width: 50%;
    border: 0.3rem solid #4267B2;
    background: none;
    border-radius: 1rem;
    transition: background-color 0.5s;
    
    
}
.btn a {
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.btn:hover {
    background-color: #4267B2;
    color: white;
}

/* ABOUT */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-evenly;
    background-color: black;
    max-width: 1920px;
}
.title {
    color: #4267B2;
    font-size:3rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    align-self: flex-start;
}
.about_card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.about_img img {
    height: 70vh;
    margin-right: 3rem;
    border-radius: 5rem;
}
.about_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about_description {
   
}
.about_description p {
    color: white;
    font-size: 1.5rem;
}
.about_description span {
    color: #4267B2;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.qualifications {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.education {
   align-self: flex-start; 
}
.infotitle {
    font-size: 1.8rem;
    color: #4267B2;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.infoname {
    font-size: 1.3rem;
    color: white;
}
.details {
    font-size: 0.9rem;
    color: grey;
}
.infotitle, .infoname, .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 0.5rem;;
}
.infoname, .details {
    line-height: 0.3rem;
}
.credentials {
    color: white;
    position: absolute;
    text-decoration: none;
    top: 80%;
    left: 70%;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: left;
    border: 0.2rem solid #4267B2;
    border-radius: 1rem;
    background-color: #4267B2;
    display: flex;
    justify-content: space-evenly;
    transition: background-color 1s;;
}
.credentials:hover {
    background-color: transparent;
}
/* ACADEMICS */
.academics {
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: black;
    max-width: 1920px;
}
.acadcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.acadcards {
    width: 30vw;
    max-width: 30vw;
    border: 2px solid;
    min-height: 60vh;
    margin-left: 5rem;
    border: none;
    border-radius: 2rem 2rem 2rem 2rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgimg {
    position: absolute;
    background-size: cover;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.60;
    overflow: hidden;
    transition: 0.4s ease;
}
.view {
    transition: 0.4s ease;
    position: absolute; 
    height: 100%;
    width: 100%;    
    opacity: 0;
    z-index: 2;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
#bgacad {
    background-image: url('actPic.jpeg');
}
#bgsched {
    background-image: url('schedPic.jpg');
}
.content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}
.cardTitle {
    color: #4267B2;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1rem;
    text-decoration: none; 
    z-index: 3;
    position: relative;
}
.detailContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
}
.detailContainer h3, p {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: white; 
    font-weight: 400;
    opacity: 1;
    
}
a {
    text-decoration: none;
    
}
a:hover .bgimg {
    transform: scale(1.1);
    opacity: 0.3;
}
a:hover .content{
    display: none;
}
a:hover h1 {
    transform: scale(2);
    color: white;
    opacity: 1;
}
/* PNC */
.pnc {
    min-height: 100vh;
    background-image: url('pncbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.pncContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pncCards {
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 3rem;
    border-radius: 2rem 2rem 2rem 2rem;
    /* padding: 2rem; */
    position: relative;
    overflow: hidden;
    z-index: 2;
} 
.pncbgwhite {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 2rem 2rem 2rem 2rem;
}
.pncTitle {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
    z-index: 2;
  
}
.pncContent {
    color: gray;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.2rem;
    z-index: 2;
    font-style: italic;
    margin-top: 0;
}
/* CONTACT */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contacttitle {
    margin: auto;
    font-size: 4rem;
}
.contactlinks {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contactdetails {
    color: gray;
    font-size: 1.5rem;
}

.contactdetails:hover:after {
    width: 100%;
    transition: width 0.3s linear;
}
.contactlinks li a {
    color: gray;
    font-size: 2rem;
    text-decoration: none;
    link-style-type: none;
}
.ending {
    font-size: 1.5rem;
    color: gray;
}